pre-call-brief/pre-call-brief-blueprint.json
{
  "name": "BuiltWithSpring — Pre-Call Research Brief",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pre-Call Research Brief",
        "formDescription": "To prep for prospect meetings.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "contact_name"
            },
            {
              "fieldLabel": "contact_phone"
            },
            {
              "fieldLabel": "contact_email"
            },
            {
              "fieldLabel": "contact_title"
            },
            {
              "fieldLabel": "business_name"
            },
            {
              "fieldLabel": "website_url"
            },
            {
              "fieldLabel": "meeting_date"
            },
            {
              "fieldLabel": "meeting_type",
              "fieldType": "dropdown",
              "defaultValue": "Discovery Call",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Discovery Call"
                  },
                  {
                    "option": "Follow-Up"
                  },
                  {
                    "option": "Demo"
                  },
                  {
                    "option": "Proposal"
                  }
                ]
              }
            },
            {
              "fieldLabel": "prospect_notes",
              "fieldType": "textarea",
              "placeholder": "Anything you know about this prospect — how you met, what they've shared about their work, specific pain points they've mentioned, mutual connections, red flags to watch for, etc. Leave blank if cold."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "3553c58f-9b3a-4d4c-b84f-ca8a46c3bd94",
      "name": "On form submission",
      "webhookId": "b604dd98-48a4-432d-aafe-9f797d7fe29a"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $('On form submission').item.json.website_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "id": "d2d909a5-b2cc-4e30-8b64-766885713cf9",
      "name": "Jina - Scrape Website"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 7000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Build Claude Prompt').item.json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "id": "fe8af71d-9687-40c1-b9ee-c01ed589bc61",
      "name": "Claude - Generate Pre-Call Brief",
      "credentials": {
        "httpCustomAuth": {
          "id": "HYMoy7Y9reV5lUuL",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "springlam.co@gmail.com",
        "subject": "=PRECALL BRIEF: {{ $('On form submission').item.json.contact_name }} - {{ $('On form submission').item.json.business_name }}",
        "message": "=<!DOCTYPE html> <html> <head> <style>   body {      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;      max-width: 720px;      margin: 0 auto;      padding: 32px 24px;      color: #1a1a1a;      background: #ffffff;     line-height: 1.6;   }   .header {      border-bottom: 3px solid #7c3aed;      padding-bottom: 20px;      margin-bottom: 32px;    }   .header h1 {      font-size: 22px;      margin: 0 0 12px 0;      color: #7c3aed;      font-weight: 700;   }   .meta {      font-size: 13px;      color: #555;      margin: 0 0 6px 0;    }   .meta strong { color: #1a1a1a; }   .notes-callout {     background: #f9f6ff;     border-left: 3px solid #7c3aed;     padding: 12px 16px;     margin: 16px 0 24px 0;     font-size: 13px;     color: #444;     border-radius: 4px;   }   .notes-callout strong { color: #7c3aed; }   .content h2 {     font-size: 17px;     color: #7c3aed;     margin-top: 28px;     margin-bottom: 12px;     padding-bottom: 6px;     border-bottom: 1px solid #e5e5e5;   }   .content h2:first-child {      margin-top: 0;      background: linear-gradient(135deg, #7c3aed 0%, #a855f7 100%);     color: #ffffff;     padding: 16px 20px;     border-radius: 8px;     border-bottom: none;     font-size: 18px;   }   .content h2:first-child + ul {     background: #faf7ff;     border: 1px solid #e9d5ff;     border-radius: 8px;     padding: 16px 20px 16px 40px;     margin-top: -8px;     margin-bottom: 24px;   }   .content h3 {     font-size: 14px;     color: #1a1a1a;     margin-top: 18px;     margin-bottom: 8px;     text-transform: uppercase;     letter-spacing: 0.5px;   }   .content p {      font-size: 14.5px;      margin: 0 0 12px 0;    }   .content ul, .content ol {      font-size: 14.5px;      padding-left: 24px;      margin: 0 0 16px 0;   }   .content li {      margin-bottom: 10px;    }   .content blockquote {     border-left: 3px solid #7c3aed;     padding: 8px 16px;     margin: 16px 0;     background: #f9f6ff;     font-style: italic;     color: #444;     border-radius: 4px;   }   .content strong { color: #1a1a1a; }   .footer {      border-top: 1px solid #e5e5e5;      padding-top: 16px;      margin-top: 40px;      font-size: 12px;      color: #999;      text-align: center;   } </style> </head> <body>   <div class=\"header\">     <h1>Pre-Call Brief — {{ $('On form submission').item.json.business_name }}</h1>     <p class=\"meta\"><strong>Contact:</strong> {{ $('On form submission').item.json.contact_name }} &nbsp;|&nbsp; {{ $('On form submission').item.json.contact_title }}</p>     <p class=\"meta\"><strong>Email:</strong> {{ $('On form submission').item.json.contact_email }} &nbsp;|&nbsp; <strong>Phone:</strong> {{ $('On form submission').item.json.contact_phone }}</p>     <p class=\"meta\"><strong>Meeting:</strong> {{ $('On form submission').item.json.meeting_date }} &nbsp;|&nbsp; {{ $('On form submission').item.json.meeting_type }}</p>   </div>   {{ $('On form submission').item.json.prospect_notes ? '<div class=\"notes-callout\"><strong>Your notes:</strong><br>' + $('On form submission').item.json.prospect_notes + '</div>' : '' }}   <div class=\"content\">{{ $('Claude - Generate Pre-Call Brief').item.json.content[0].text }}</div>   <div class=\"footer\">Generated by BuiltWithSpring · builtwithspring.com</div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "id": "03bd6728-1a05-48c6-8e0d-66ccc983043e",
      "name": "Gmail - Send Pre-Call Brief",
      "webhookId": "7c393c90-f731-417a-abab-2c575792c876",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "waH3oYquvwnLT9QX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('On form submission').item.json.contact_email }}?idProperty=email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $('On form submission').item.json.contact_name.split(' ')[0] }}\",\n    \"lastname\": \"{{ $('On form submission').item.json.contact_name.split(' ').slice(1).join(' ') }}\",\n    \"email\": \"{{ $('On form submission').item.json.contact_email }}\",\n    \"phone\": \"{{ $('On form submission').item.json.contact_phone }}\",\n    \"company\": \"{{ $('On form submission').item.json.business_name }}\",\n    \"jobtitle\": \"{{ $('On form submission').item.json.contact_title }}\",\n    \"website\": \"{{ $('On form submission').item.json.website_url }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "9f2ef58b-8556-481d-99a9-d26d3402fe19",
      "name": "HubSpot - Upsert Contact (Pre-Call)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "M4ZBI8aCgUKafOUh",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"firstname\": \"{{ $('On form submission').item.json.contact_name.split(' ')[0] }}\",\n    \"lastname\": \"{{ $('On form submission').item.json.contact_name.split(' ').slice(1).join(' ') }}\",\n    \"email\": \"{{ $('On form submission').item.json.contact_email }}\",\n    \"phone\": \"{{ $('On form submission').item.json.contact_phone }}\",\n    \"company\": \"{{ $('On form submission').item.json.business_name }}\",\n    \"jobtitle\": \"{{ $('On form submission').item.json.contact_title }}\",\n    \"website\": \"{{ $('On form submission').item.json.website_url }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        80
      ],
      "id": "28bad917-661e-4919-8a5b-858ff8785d55",
      "name": "HubSpot - Create Contact",
      "credentials": {
        "httpHeaderAuth": {
          "id": "M4ZBI8aCgUKafOUh",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const form = $('On form submission').item.json;\nconst scraped = $('Jina - Scrape Website').item.json.body || '';\nconst notes = form.prospect_notes || 'No notes provided.';\n\nconst prompt = `You are a senior sales strategist helping Spring (BuiltWithSpring) prepare for a discovery call. Spring is a solo AI consultant in Austin, TX who builds n8n + Claude automations for small businesses and operators.\n\nSELLER CONTEXT — read before generating any section:\n\nSpring offers two engagement types:\n\nTier 1 — Focused Build: one workflow automation solving one specific pain. $500–$1,500 depending on complexity. Delivered in 1–2 weeks.\n\nTier 2 — Full System: multi-workflow automation across 2-3 interconnected pain points. $1,500–$3,000. Delivered in 3–4 weeks.\n\nOn a discovery call, always tease Tier 1 first. Tier 2 emerges naturally only if the conversation reveals multiple connected pain points — never lead with it.\n\nPrimary ICP: small business owners and operators of any industry — sales, marketing, operations, or client management — as long as the pain is real and the decision is theirs to make.\nSecondary ICP: enterprise or mid-market AEs and CSMs who want personal workflow automation their company hasn't built for them. For these contacts, Spring builds for THEIR personal workflow — not the company's systems infrastructure.\n\nWhat Spring builds: n8n + Claude automations for sales prep, lead research, follow-up sequences, client onboarding, operations, and marketing workflows.\n\nIf the prospect requires IT security approval, enterprise procurement, or custom software dev beyond workflow automation — the call ends with a graceful exit, not a proposal.\n\nEngagement floor: $500. Never suggest a scope or next step that implies less than $500 of work. The recommended first build should be a real, concrete automation — not a strategy session, audit, or template.\n\nTHIS IS A DISCOVERY CALL — not a closing call. The goal is: validate pain, qualify the prospect, and earn the next meeting. Do not try to close the deal. Every section should orient Spring toward LISTENING and VALIDATING, not pitching and assuming.\n\n---\n\nPROSPECT DATA:\nContact Name: ${form.contact_name}\nContact Title: ${form.contact_title}\nBusiness Name: ${form.business_name}\nWebsite URL: ${form.website_url}\nMeeting Date: ${form.meeting_date}\nMeeting Type: ${form.meeting_type}\n\nSpring's notes on this prospect (HIGHEST-PRIORITY source of truth):\n${notes}\n\nScraped website content for ${form.business_name} (use to fill in business context and inform \"The Pain They Haven't Named Yet\" — do NOT use to override anything Spring noted, and do NOT analyze this as Spring's own website or positioning):\n${scraped}\n\n---\n\nCONTEXT WEIGHTING RULES:\n1. Spring's notes ALWAYS override website-based inferences when they conflict.\n2. Notes-confirmed pain points get 'Confirmed:' prefix. Hypothesized pain points get 'Likely:' prefix.\n3. Personal context from notes (how they met, mutual connections, rapport details) must be woven into Opening 60 Seconds, Discovery Questions framing, and the Next-Step Ask — not isolated to one section.\n4. The scraped website content is about the PROSPECT'S business. Use it to enrich business context and spot the pain they haven't named. Never use it to analyze Spring's own positioning or services.\n5. If notes are empty, fall back to website-based inference and role-based defaults — but frame all pain points as hypothesized, not confirmed.\n\nROLE-SPECIFIC TAILORING:\nTailor every section to what someone in the contact's SPECIFIC role cares about day-to-day. A VP of BD has different pain than a Senior AE, CSM, Marketing Manager, or Solo Founder. Let the title drive specificity. Let Spring's notes override role-based defaults when they conflict.\n\n---\n\nFORMATTING — CRITICAL:\nReturn ONLY clean HTML. No markdown, no code fences, no <html> or <body> wrappers.\nAllowed tags: <h2>, <h3>, <p>, <ul>, <ol>, <li>, <strong>, <em>, <blockquote>.\nStart directly with the TL;DR card. No preamble.\n\n---\n\nGenerate EXACTLY these sections in this order:\n\n<h2>🎯 TL;DR Discovery Card</h2>\nA <ul> with exactly three <li> items. Each <li> starts with a <strong> label followed by one sentence. No more than one sentence per line.\nFormat:\n<ul>\n<li><strong>Pain to validate:</strong> [one sentence]</li>\n<li><strong>Free value to drop early:</strong> [one sentence]</li>\n<li><strong>Next-step ask:</strong> [one sentence]</li>\n</ul>\n\n<h2>📞 Opening 60 Seconds</h2>\n<p>The exact rapport move + transition into discovery. If notes include a personal hook (how they met, mutual connection, recent activity, shared context), open with that specifically — not a generic compliment. End with the exact transition sentence Spring will use to open the first discovery question. Write this as if Spring is saying it aloud — conversational, not scripted-sounding.</p>\n\n<h2>🏢 Business Snapshot</h2>\n<p>ONE sentence only. What the prospect's business does and who it serves. Nothing about Spring.</p>\n\n<h2>🔥 Pain Points to Validate</h2>\n<ol>\n<li><strong>[Confirmed/Likely: Pain name]</strong> — 1-2 sentences explaining the pain and why it matters for this specific role. Frame as a hypothesis to test on the call, not a fact to assume.</li>\n</ol>\nInclude 3-4 pain points. Notes-confirmed pain points first. Use 'Confirmed:' for anything Spring's notes mention directly. Use 'Likely:' for everything else.\n\n<h2>💡 The Pain They Haven't Named Yet</h2>\n<p>One specific operational or strategic gap this person likely has but hasn't articulated — a pattern Spring has seen across similar businesses or roles that they're probably too close to see. This should be concrete and named, not vague. Not 'they probably need automation' but a specific, observable, unaddressed pain. Naming this in the first 10 minutes makes Spring look like she understands their world better than any vendor who has pitched them recently.</p>\n\n<h2>❓ Discovery Questions</h2>\n<ol>\n<li>\n<em>\"[Question text in quotes]\"</em>\n<p><strong>Validates:</strong> [what this question surfaces about pain, fit, or readiness]</p>\n<p><strong>High intent signal:</strong> [specific phrasing or response that means they're a strong fit]</p>\n<p><strong>Low fit signal:</strong> [specific response that means this engagement may not work]</p>\n</li>\n</ol>\nInclude exactly 3 questions. Each must feel like natural conversation — not a survey. At least one question should weave in context from Spring's notes if available.\n\n<h2>🎁 Free Value to Drop in the First 10 Minutes</h2>\n<p>One specific, immediately-useful insight Spring can share within the first 10 minutes — before any pitch. Must be concrete and deliverable in 2 minutes of talk time. A pattern, a reframe, a specific observation about their industry or role that demonstrates Spring has thought about their world. End with the exact follow-up question Spring asks after sharing it to invite the prospect to react.</p>\n\n<h2>🛠️ Recommended First Build (If Validated)</h2>\n<p><strong>Tier:</strong> [Tier 1 — Focused Build / Tier 2 — Full System — default to Tier 1 unless multiple connected pain points were confirmed in notes]</p>\n<p><strong>The build:</strong> [name of the automation]</p>\n<p><strong>Input:</strong> [what triggers or feeds it]</p>\n<p><strong>Tool:</strong> n8n + Claude [+ any relevant integrations]</p>\n<p><strong>Output:</strong> [what the prospect or their team receives]</p>\n<p><strong>Scope:</strong> [$500–$X, 1–2 week delivery for Tier 1 / $1,500–$X, 3–4 weeks for Tier 2]</p>\n<p><strong>When to bring it up:</strong> [the specific conversational trigger — what the prospect says or confirms before Spring mentions this]</p>\n<p><strong>Transition language:</strong> [the exact sentence Spring uses to introduce it]</p>\nThe build must be real and deliverable within the tier's timeline. Do not suggest a strategy doc, audit, or template.\n\n<h2>🔍 Qualifying Checklist</h2>\n<ul>\n<li><strong>Budget:</strong> [Known / Needs confirmation] — [what to listen for or ask]</li>\n<li><strong>Authority:</strong> [Known / Needs confirmation] — [is this person the decision-maker?]</li>\n<li><strong>Need:</strong> [Known / Needs confirmation] — [is the pain real and active?]</li>\n<li><strong>Timeline:</strong> [Known / Needs confirmation] — [are they buying in weeks or months?]</li>\n</ul>\n\n<h2>🚪 Disqualifying Questions to Ask Early</h2>\n<ul>\n<li>\n<p><em>\"[Question]\"</em></p>\n<p><strong>Exit signal:</strong> [the answer that means polite exit — specific about what they'd say and why it disqualifies]</p>\n</li>\n</ul>\nInclude 2-3 questions. Ask these in the first 15 minutes. Frame them conversationally — not as interrogations.\n\n<h2>🚩 Red Flags</h2>\n<ul>\n<li><strong>[Confirmed/Likely: Flag name]</strong> — [why this is a concern and what it means for the engagement]. Notes-confirmed red flags use 'Confirmed:' prefix.</li>\n</ul>\nInclude 2-3 flags.\n\n<h2>🎬 The Asymmetric Next-Step Ask</h2>\n<p><strong>Ideal next step:</strong> Something Spring DOES for the prospect — a workflow map, a Loom demo, a one-page brief, a scoped proposal — deliverable within 48–72 hours. Not something that requires action from them.</p>\n<p><strong>Exact ask language:</strong> The literal sentence Spring says to propose it. Conversational, specific, low-pressure.</p>\n<p><strong>Fallback if they hesitate:</strong> A lower-commitment version of the same offer.</p>\nIf the call surfaces clear disqualifying signals (IT procurement required, enterprise security review, custom software scope), replace the above with a graceful exit line that keeps the door open without committing to a follow-up proposal.\n\n<h2>📝 Post-Call Material</h2>\n<h3>Tech Maturity Read</h3>\n<p><strong>Rating: [Low / Medium / High Tech Maturity]</strong> — [one sentence explaining the rating based on what is visible about the prospect's current stack or automation awareness]</p>\n<ul>\n<li>[Signal 1]</li>\n<li>[Signal 2]</li>\n<li>[Signal 3 if relevant]</li>\n</ul>\n\n<h3>Post-Call Value Hooks</h3>\n<p>Specific observations about the PROSPECT'S business that Spring can mine for post-call follow-up emails, proposal content, or future touch points. This section is about the prospect's operations and opportunities — not Spring's positioning or services.</p>\n<ul>\n<li><strong>[Observation]</strong> — [one sentence on why it matters and how Spring can reference it in follow-up]</li>\n</ul>\nFor small business or solo-founder prospects: include website conversion gaps (CTA, social proof, booking, customer journey, trust signals, blog/FAQ/SEO, missing pages).\nFor enterprise or B2B prospects: include operational signals visible from public materials — tech stack signals, hiring patterns, recent news, content gaps, partnership announcements — anything Spring can reference in a thoughtful follow-up that shows she understands their business.\nInclude 3-5 observations. End with a <blockquote> containing one specific follow-up conversation opener in <em>italics with quotes</em>.`;\n\nreturn [{ json: { prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "329a74b7-a5aa-44bd-8805-9f2e8f01e345",
      "name": "Build Claude Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HubSpot - Upsert Contact (Pre-Call)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina - Scrape Website": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Generate Pre-Call Brief": {
      "main": [
        [
          {
            "node": "Gmail - Send Pre-Call Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Upsert Contact (Pre-Call)": {
      "main": [
        [
          {
            "node": "Jina - Scrape Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot - Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create Contact": {
      "main": [
        [
          {
            "node": "Jina - Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Claude - Generate Pre-Call Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a3afb7c7-a811-4eae-95ca-ecfc64da7b82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2e16b4899098c12445b8788f0b6cd665680e7a376c885495b52ab6cf9effed5"
  },
  "nodeGroups": [],
  "id": "5SNAtMIjyanV0TUN",
  "tags": []
}